@import "./bootstrap/bootstrap";

// @use "bootstrap-icons";

.card h1 {
    font-size: 25px;
}

.card p {
    font-size: 12px;
}

.card img {
    height: 300px;
    width: 250px;
    object-fit: cover;
    padding: 25px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.list{
    display: flex;
    flex-wrap: wrap;
}

@import "bootstrap/scss/bootstrap";
@import "./movie";