@import "./bootstrap/bootstrap";

// @use "bootstrap-icons";

.movie-card {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0;
    padding: 10px;

    .title {
        font-size: 25px;
    }

    p {
        font-size: 12px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    img {
        height: 400px;
        width: 100%;
        margin-bottom: 15px;
    }
}

#columna .movie-card{
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: 80px;
        height: 120px;
        margin: 0px 15px;
    }
    .title {
        padding: 15px 0px;
    }
   
}
main{
    margin-bottom: 150px;
}


@import "bootstrap/scss/bootstrap";
@import "./movie";